<!DOCTYPE html> 
<html> 
  <head> 
    {% load static %}
    <title>Fashion Pets</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function startTime() {
    var today = new Date();
    var hr = today.getHours();
    var min = today.getMinutes();
    var sec = today.getSeconds();
    min = checkTime(min);
    sec = checkTime(sec);
    document.getElementById("clock").innerHTML = hr + " : " + min + " : " + sec;
    var time = setTimeout(function(){ startTime() }, 500);
}
function checkTime(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}
    </script>
  <script>
    
    function CambiarMayusculas()
        {
            var a = document.getElementById('nombre');
            a.value = a.value.toUpperCase();
        }
    function CambiaColor(a)
        {
            a.style.background = "orange";
        }
  </script>
    <style>
      input {
          
          width: 350px;
          margin-bottom: 10px;
      }
      label {
          
          float: left;
          width: 180px;
      }
      .registrarse {
          
          clear: both;
          float: left;
          
      }
      .error-control {
          border: 1px solid red;
      }
      label.error {
          color: red;
          width: 300px;
          font-size: 0.8em;
          margin-top: -5px;
          margin-bottom: 10px;
          float: right;
      }
    </style>
  
  <script>

    $(function() 
    {
      $("#mi-formulario").validate({
           rules: {
                  nombre: "required",
                  correo: {
                      required: true,
                      email: true
                  },
                  contraseña: "required",
                  
              }, //rules
          messages: {
              nombre:{
                  required: 'Ingrese un nombre de usuario'
              },
              correo: {
                  required: 'Ingresa tu correo electrónico',
                  email: 'Formato de correo no válido'
              },
              contraseña: {
                  required: 'Ingresa una contraseña',
                  minlength: 'Caracteres insuficientes'
              },
              
          }//messages
      }); //$('#mi-formulario').validate
  }); //function


</script>
</head> 
<body style="background-color: rgb(245, 244, 190);"onload="startTime()">
  <div id="clockdate">
    <div class="clockdate-wrapper">
      <div id="clock"></div>
      <div id="date"></div>
    </div>
    </div>
  <h1 style="text-align: center;">Registrarse</h1>
  <hr>
  <div class="container">
  <form id="mi-formulario" action="{% url 'inicio' %}" method="post">
    {% csrf_token %}
      <label>Nombre Usuario: </label><br>
      <input class="form-control" type="text" name="nombre" id="nombre" required onfocus="CambiaColor(this)"onchange="CambiarMayusculas()"><br>

      <label>Correo Electronico: </label><br>
      <input class="form-control" type="text" name="correo" id="correo" placeholder="nombre@dominio.cl" required onfocus="CambiaColor(this)"><br>
    
      <label>Contraseña: </label><br>
      <input class="form-control" type="password" name="contraseña" id="contraseña" required onfocus="CambiaColor(this)"><br><br>
      <button type="submit" name="registrarse"class="registrarse btn btn-warning btn-lg">Registrarse</button>
    </form>
  </div>
  <br><br><br><br>
  </div> 
  <!-- Remove the container if you want to extend the Footer to full width. -->


  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #e9b304"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #f57702"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Conocenos:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Fashion Pets</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #cdf87c; height: 2px"
                />
            <p>
              Somos un grupo de amigas que comenzó a realizar la venta de productos para mascotas como bandanas, correas e 
identificaciones, todo esto para ayudar a una fundación sin fines de lucro.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Productos</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #cdf87c; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Jugetes</a>
            </p>
            <p>
              <a href="#!" class="text-white">Correas</a>
            </p>
            <p>
              <a href="#!" class="text-white">Ropa</a>
            </p>
            <p>
              <a href="#!" class="text-white">Accesorios</a>
            </p>
            <p>
              <a href="#!" class="text-white">Camas</a>
            </p>
            <p>
              <a href="#!" class="text-white">Transportadoras</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Enlaces</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #cdf87c; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Cuenta</a>
            </p>
            <p>
              <a href="#!" class="text-white">Ayuda</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contacto</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #cdf87c; height: 2px"
                />
            <p><i class="fas fa-envelope mr-3"></i> info@fashionpets.com</p>
            <p><i class="fas fa-phone mr-3"></i></p>
           
            <tr>
              {% load static %}
              <th><img src="{% static 'core/img/Facebook_f_logo.svg' %}" width="50" height="50" alt=""></th>
              <th><a class="text-white" href="#">Facebook</a></th>
          </tr>
            
            <p><i class="fas fa-print mr-3"></i> </p>
            <tr>
              {% load static %}
              <th><img src="{% static 'core/img/instagram_icon_logo.png' %}" width="90" height="50" alt=""></th>
              <th><a class="text-white" href="#">Instagram</a></th>
          </tr>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href=""
         >Axel Arredondo Marcelo Colombara.cl</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- End of .container -->
</body> 
</html>