
.color{
    color: #6351ce;
}


#caja{
    width: 300px;
    border: 15px solid green;
    padding: 20px;
    margin: 20px;
}
.container1{
    position: relative;
    padding: 30px;

}

.container{
    position: relative;
}

div.gallery {
    border: 1px solid #6351ce;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .titulo {
    text-align: center;
  }

  .responsive{
    padding: 10px;
  }
p{
  padding-left: 30px;
}
h1.titulo{
  text-align: center;
}